<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Penagrapher</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">User
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li *ngIf="getLocalAuthorization() === 'admin'"><a routerLink="/users">Users</a></li>
          <li *ngIf="getLocalAuthorization() === 'normal'"><a routerLink="/users/profile">Profile</a></li>
          <li *ngIf="getLocalAuthorization() === 'admin'"><a routerLink="/users/create">Create</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Post
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/posts">Posts</a></li>
          <li><a routerLink="/posts/mylist">My Posts</a></li>
          <li><a routerLink="/posts/create">Create Post</a></li>
        </ul>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/users/create"> <span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li *ngIf="!getLocalUser()"><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li *ngIf="getLocalUser()"><a routerLink="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

    </ul>
  </div>
</nav>
<router-outlet></router-outlet>