<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of postlist">
                <td><a routerLink="/posts/{{post._id}}">{{post.title}}</a></td>
                <td>{{post?.author}}</td>
                <td>{{post.dateCreated | date:'medium'}}</td>
            </tr>
        </tbody>
    </table>
</div> 